@import url('https://fonts.googleapis.com/css2?family=Biorhyme&display=swap');

.top_section{

    background-color: #fffab2 !important;;
    width: 100% !important; 
    height: 650px !important;
    
}

#navbar {
    background-color: #fffab2 !important;
    
}


.section_1{
    min-height: 600px !important;

}

#img_enine_school{
    width: 90% !important ;
}

.demand{

background-color: lightgoldenrodyellow  !important;
font-size: 1.5rem !important;

}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


#about{
 font-size: 1.25rem  !important;
 font-family: 'Courier Prime', monospace !important;
}



.about_us {
    font-family: 'Biorhyme', monospace   !important; 
}


#form{

    background-color: lightgoldenrodyellow  !important;
}

.form_in{
    font-family: 'Courier Prime', monospace !important;
    font-size: 0.875em !important;

}

#h_form{

    font-family: 'Biorhyme', monospace   !important; 
}


footer{

    font-size: 0.875em !important;
    height: 200px !important;
}

#footer_inside{
    font-family: Inter !important;
    font-size: 0.875rem !important;
}

a{
    text-decoration: none !important;
    color:black !important;
  
}
